@font-face {
    font-family: 'Minecraft';
    src: url('mc-7.ttf') format('truetype');
}


body {
    text-align: center;
    background-image: url('startupscreen.png');
    background-color: #3A90F5;
    background-size:1400px;
    background-position: center top;
    background-repeat: no-repeat;
}

.hide {
    display: none;
}

.startup-screen {
    font-family: "Sigmar One", sans-serif;
    font-weight: 100;
    font-size: large;
}

h1 span {
    position: relative;
    top: 620px;
    font-size: 30px;
    background: linear-gradient(90deg, #f53ac0 30%, #FFE066 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: #FFE066 1px;
    color: transparent;
    display: inline-block;
    position: relative;
    text-shadow: 0 0 10px rgba(210, 235, 243, 0.5);
    animation: bounce 0.3s infinite alternate;
}
@keyframes bounce {
  100% {
    top: 610px;
  }
}
h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
h1 span:nth-child(7) {
  animation-delay: 0.6s;
}
h1 span:nth-child(8) {
  animation-delay: 0.7s;
}
h1 span:nth-child(9) {
  animation-delay: 0.8s;
}


/* pokemon screen */
.pokemon {
    position: relative;
}

.pokemon-btn {
    background-color: transparent;  
    border: 0;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 690px;
    right: 460px;
}

.btn2, .btn3, .btn4 {
    border: 0;
    background-color: transparent;
    width: 150px;
    height: 50px;
}

.btn2 {
    position: absolute;
    top: 690px;
    right: 255px;
}

.btn3 {
    position: absolute;
    top: 760px;
    right: 460px;
}

.btn4 {
    position: absolute;
    top: 760px;
    right: 255px;
}


/* main screen */
.main-screen {
    position: relative;
    top: 100px;
}

h2 {
    font-family: 'Minecraft', sans-serif;
    font-weight: 100;
}
/* diamond button */
.about-me {
    position: absolute;
    width: 150px;
    height: auto;
    top: 328px;
    left: 348px;
}
.about-me-text {
    position: absolute;
    top: 450px;
    left: 358px;
}
/* project showcase button */
.projects {
    position: absolute;
    width: 135px;
    height: auto;
    top: 430px;
    left: 550px;
}
.projects-text {
    position: absolute;
    top: 540px;
    left: 545px;
}
/* future button */
.future {
    position: absolute;
    width: 138px;
    height: auto;
    top: 335px;
    right: 645px;
}
.future-text {
    position: absolute;
    top: 450px;
    left: 725px;
}
/* contacts button */
.contacts {
    position: absolute;
    width: 140px;
    height: auto;
    top: 425px;
    right: 450px;
}
.contacts-text {
    position: absolute;
    top: 540px;
    right: 440px;
}


/* navbar IMPORTANT */
.navbar {
    z-index: 1000;
    width: 56.5%;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0)
}
.back {
    z-index: 1002;
    position: absolute;
    width: 80px;
    height: auto;
    top: 630px;
    left: 340px;
}
.home {
    z-index: 1002;
    position: absolute;
    width: 80px;
    height: auto;
    top: 645px;
    left: 720px;
}
.websites {
    z-index: 1002;
    position: absolute;
    width: 80px;
    height: auto;
    top: 635px;
    right: 343px;

}
.navbar, .back, .home, .websites {
    opacity: 1;
    transition: opacity 0.5s;
}

.navbar-faded, .navbar-faded + .back, .navbar-faded + .back + .home, .navbar-faded + .back + .home + .websites {
    opacity: 0.3 !important;
    pointer-events: auto;
}
